openapi: "3.0.3"
info:
  title: EventSync API
  description: API for event management and real-time participant engagement
  version: "1.0.0"
  contact:
    name: EventSync
servers:
  - url: https://api.eventsync.io/v1
    description: Production server
  - url: http://localhost:3000/v1
    description: Local development server

# ─────────────────────────────────────────
# SECURITY
# ─────────────────────────────────────────
security: [ ]

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT required only for organizer (admin) routes

  # ─────────────────────────────────────────
  # SCHEMAS
  # ─────────────────────────────────────────
  schemas:

    # ── EVENT ────────────────────────────
    Event:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          example: "DevConf 2025"
        description:
          type: string
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        location:
          type: string
          example: "Paris, France"
        sessions:
          type: array
          items:
            $ref: "#/components/schemas/SessionSummary"
      required: [ id, title, start_date, end_date, location ]

    EventCreate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time
        location:
          type: string
      required: [ title, start_date, end_date, location ]

    # ── SESSION ──────────────────────────────
    Session:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        capacity:
          type: integer
          description: Informational value only
        is_live:
          type: boolean
          description: True if current time is between start_time and end_time
        room:
          $ref: "#/components/schemas/Room"
        speakers:
          type: array
          items:
            $ref: "#/components/schemas/SpeakerSummary"
        event_id:
          type: string
          format: uuid
      required: [ id, title, start_time, end_time, room, speakers, event_id ]

    SessionSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        is_live:
          type: boolean
        room:
          $ref: "#/components/schemas/Room"
        speakers:
          type: array
          items:
            $ref: "#/components/schemas/SpeakerSummary"

    SessionCreate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        capacity:
          type: integer
        room_id:
          type: string
          format: uuid
        speaker_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
      required: [ title, start_time, end_time, room_id, speaker_ids ]

    # ── ROOM ────────────────────────────────
    Room:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Room A"
      required: [ id, name ]

    RoomCreate:
      type: object
      properties:
        name:
          type: string
      required: [ name ]

    # ── SPEAKER ──────────────────────────
    Speaker:
      type: object
      properties:
        id:
          type: string
          format: uuid
        full_name:
          type: string
        profile_picture:
          type: string
          format: uri
        biography:
          type: string
        external_links:
          type: array
          items:
            type: string
            format: uri
        sessions:
          type: array
          items:
            $ref: "#/components/schemas/SessionSummary"
      required: [ id, full_name ]

    SpeakerSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        full_name:
          type: string
        profile_picture:
          type: string
          format: uri

    SpeakerCreate:
      type: object
      properties:
        full_name:
          type: string
        profile_picture:
          type: string
          format: uri
        biography:
          type: string
        external_links:
          type: array
          items:
            type: string
            format: uri
      required: [ full_name ]

    # ── QUESTION ─────────────────────────────
    Question:
      type: object
      properties:
        id:
          type: string
          format: uuid
        content:
          type: string
        author_name:
          type: string
          nullable: true
          description: Null if anonymous
        upvotes:
          type: integer
          default: 0
        created_at:
          type: string
          format: date-time
        session_id:
          type: string
          format: uuid
      required: [ id, content, upvotes, created_at, session_id ]

    QuestionCreate:
      type: object
      properties:
        content:
          type: string
          minLength: 1
        author_name:
          type: string
          nullable: true
          description: Optional — anonymous if omitted
      required: [ content ]

    # ── AUTH ─────────────────────────────────
    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
      required: [ email, password ]

    LoginResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: "bearer"
        expires_in:
          type: integer
          example: 3600

    # ── ERRORS ──────────────────────────────
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
      required: [ code, message ]

# ─────────────────────────────────────────
# PATHS
# ─────────────────────────────────────────
paths:

  # ── AUTH ─────────────────────────────────
  /auth/login:
    post:
      summary: Organizer login
      tags: [ Auth ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # ── EVENTS ───────────────────────────────
  /events:
    get:
      summary: List all events
      tags: [ Events ]
      responses:
        "200":
          description: List of events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Event"

    post:
      summary: Create an event
      tags: [ Events ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventCreate"
      responses:
        "201":
          description: Event created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "401":
          description: Unauthorized

  /events/{event_id}:
    parameters:
      - name: event_id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      summary: Event details
      tags: [ Events ]
      responses:
        "200":
          description: Event details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "404":
          description: Event not found

    put:
      summary: Update an event
      tags: [ Events ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EventCreate"
      responses:
        "200":
          description: Event updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "401":
          description: Unauthorized
        "404":
          description: Event not found

    delete:
      summary: Delete an event
      tags: [ Events ]
      security:
        - BearerAuth: [ ]
      responses:
        "204":
          description: Event deleted
        "401":
          description: Unauthorized
        "404":
          description: Event not found

  # ── SESSIONS ─────────────────────────────
  /events/{event_id}/sessions:
    parameters:
      - name: event_id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      summary: List sessions for an event
      tags: [ Sessions ]
      parameters:
        - name: room_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by room
        - name: live
          in: query
          schema:
            type: boolean
          description: Filter only currently live sessions
      responses:
        "200":
          description: List of sessions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Session"

    post:
      summary: Create a session
      tags: [ Sessions ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SessionCreate"
      responses:
        "201":
          description: Session created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          description: Unauthorized

  /events/{event_id}/sessions/{session_id}:
    parameters:
      - name: event_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      summary: Session details
      tags: [ Sessions ]
      responses:
        "200":
          description: Session details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "404":
          description: Session not found

    put:
      summary: Update a session
      tags: [ Sessions ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SessionCreate"
      responses:
        "200":
          description: Session updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          description: Unauthorized

    delete:
      summary: Delete a session
      tags: [ Sessions ]
      security:
        - BearerAuth: [ ]
      responses:
        "204":
          description: Session deleted
        "401":
          description: Unauthorized

  # ── QUESTIONS ────────────────────────────
  /events/{event_id}/sessions/{session_id}/questions:
    parameters:
      - name: event_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      summary: List questions for a session (sorted by upvotes)
      tags: [ Questions ]
      responses:
        "200":
          description: List of questions sorted by descending upvotes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Question"
        "403":
          description: Session not live — questions not accessible

    post:
      summary: Ask a question (live sessions only)
      tags: [ Questions ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuestionCreate"
      responses:
        "201":
          description: Question created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Question"
        "403":
          description: Session not live — cannot submit a question

  /events/{event_id}/sessions/{session_id}/questions/{question_id}/upvote:
    parameters:
      - name: event_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: question_id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    post:
      summary: Upvote a question
      tags: [ Questions ]
      responses:
        "200":
          description: Upvote recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Question"
        "404":
          description: Question not found

  # ── ROOMS ───────────────────────────────
  /rooms:
    get:
      summary: List all rooms
      tags: [ Rooms ]
      responses:
        "200":
          description: List of rooms
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Room"

    post:
      summary: Create a room
      tags: [ Rooms ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoomCreate"
      responses:
        "201":
          description: Room created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Room"
        "401":
          description: Unauthorized

  /rooms/{room_id}:
    parameters:
      - name: room_id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      summary: Room details with its sessions
      tags: [ Rooms ]
      responses:
        "200":
          description: Room with chronological list of sessions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Room"
                  - type: object
                    properties:
                      sessions:
                        type: array
                        items:
                          $ref: "#/components/schemas/SessionSummary"

    put:
      summary: Update a room
      tags: [ Rooms ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoomCreate"
      responses:
        "200":
          description: Room updated
        "401":
          description: Unauthorized

    delete:
      summary: Delete a room
      tags: [ Rooms ]
      security:
        - BearerAuth: [ ]
      responses:
        "204":
          description: Room deleted
        "401":
          description: Unauthorized

  # ── SPEAKERS ─────────────────────────────
  /speakers:
    get:
      summary: List all speakers
      tags: [ Speakers ]
      responses:
        "200":
          description: List of speakers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SpeakerSummary"

    post:
      summary: Create a speaker
      tags: [ Speakers ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpeakerCreate"
      responses:
        "201":
          description: Speaker created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Speaker"
        "401":
          description: Unauthorized

  /speakers/{speaker_id}:
    parameters:
      - name: speaker_id
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      summary: Public speaker profile
      tags: [ Speakers ]
      responses:
        "200":
          description: Full profile with associated sessions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Speaker"
        "404":
          description: Speaker not found

    put:
      summary: Update a speaker
      tags: [ Speakers ]
      security:
        - BearerAuth: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpeakerCreate"
      responses:
        "200":
          description: Speaker updated
        "401":
          description: Unauthorized

    delete:
      summary: Delete a speaker
      tags: [ Speakers ]
      security:
        - BearerAuth: [ ]
      responses:
        "204":
          description: Speaker deleted
        "401":
          description: Unauthorized

# ─────────────────────────────────────────
# TAGS
# ─────────────────────────────────────────
tags:
  - name: Auth
    description: Organizer authentication
  - name: Events
    description: Events CRUD
  - name: Sessions
    description: Sessions CRUD and scheduling
  - name: Questions
    description: Real-time Q&A (live sessions)
  - name: Rooms
    description: Room management and room view
  - name: Speakers
    description: Public profiles and management